<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <container>
        <nav>
                <ul class="nav nav-pills">
                    <li><a href="{{ path('homepage') }}" title="Accueil">Accueil</a></li>
                    <li><a href="{{ path('inscription') }}" title="Login">Login</a></li>
                    <li><a href="{{ path('logout') }}" title="LogOut">Log out</a></li>
                   
                         
                    </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </container>
    </body>
</html>
